@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Poppins", sans-serif;
    animation: fadeInAnimation ease 0.9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.text-stroke {
    -webkit-text-stroke: 2px white; /* Adjust the stroke width and color as needed */
    color: transparent; /* Makes the text fill transparent */
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}






.page-line {
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0px;
    opacity: 0.2;
    z-index: 1;
    box-shadow: 0 0 0 5px #2a01351a,0 0 5px 1px #fdf5ff1a,0 0 5px #2a01351a;

}
.page-line-1 {
    left: 20%;
}

.page-line-3 {
    left: 80%;
}

div {
    z-index: 999;
}

@keyframes animate {
    0%{
        top: 05;
    }
    100%{
        top: 100%;
    }
    
}


.line-border{
    box-shadow: 0 0 0px 0.3px white;
    opacity: 0.3;
}
.line-border-ver{
    box-shadow: 0 0 0px 0.3px white;
    opacity: 0.3;
}

.circle-fire-left{
    z-index: 999;
    box-shadow: 0 0 20px 5px white;
    animation: 10s  drop-right  infinite;
}

.circle-fire-top{
    z-index: 999;
    box-shadow: 0 0 20px 5px white;
    animation: 20s  drop  infinite;
}
@keyframes drop {
    from{top:0%}
    to{top: 100%;}
}
@keyframes drop-right {
    0%{left:1%}
    50%{left: 99%;}
    100%{left: 1%;}
}

.test{
    min-width: 200px;
    border: 2px solid white;
    padding: 20px;
    position: relative;
}

.test::after{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px ;
    width: 20px;
    background: orange;
    content:"";
    transition: 1s ease;
}