*{
  scroll-behavior: smooth;
}

*, html, body{
    font-family: "Poppins", sans-serif;
    /* overflow-x: hidden; */
}
body{
  overflow-x: hidden
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.text-stroke {
    -webkit-text-stroke: 2px white; /* Adjust the stroke width and color as needed */
    color: transparent; /* Makes the text fill transparent */
}
.screen_animation{
  width: 0%;
  animation: screenAnim 0.6s ease-in-out;
}
@keyframes screenAnim {
    0% {
        width:100%;
      }
    100% {
        width: 0%;
    }
}
/* @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} */


/* 



.page-line {
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0px;
    opacity: 0.2;
    z-index: 1;
    box-shadow: 0 0 0 5px #2a01351a,0 0 5px 1px #fdf5ff1a,0 0 5px #2a01351a;

}
.page-line-1 {
    left: 20%;
}

.page-line-3 {
    left: 80%;
}

div {
    z-index: 999;
} */

/* @keyframes animate {
    0%{
        top: 05;
    }
    100%{
        top: 100%;
    }
    
} */

/* 
.line-border{
    box-shadow: 0 0 0px 0.3px white;
    opacity: 0.3;
}
.line-border-ver{
    box-shadow: 0 0 0px 0.3px white;
    opacity: 0.3;
}

.circle-fire-left{
    z-index: 999;
    box-shadow: 0 0 20px 5px white;
    animation: 8s  drop-right  infinite;
}

.circle-fire-top{
    z-index: 999;
    box-shadow: 0 0 20px 5px white;
    animation: 4s  drop  infinite;
}

.circle-fire-left-2{
    z-index: 999;
    box-shadow: 0 0 20px 5px white;
    animation: 4s  drop-right-2  infinite;
}

.circle-fire-top-2{
    z-index: 999;
    box-shadow: 0 0 20px 5px white;
    animation: 8s  drop2  infinite;
} */
/* 
@keyframes drop {
    0%{top:12%}
    50%{top: 99%;}
    100%{top: 12%;}
}
@keyframes drop2 {
    0%{top:20%}
    50%{top: 90%;}
    100%{top: 20%;}
}

@keyframes drop-right {
    0%{left:1%}
    50%{left: 99%;}
    100%{left: 1%;}
}
@keyframes drop-right-2 {
    0%{left:10%}
    50%{left: 90%;}
    100%{left: 10%;}
} */


.flow_line {
    background-color: white;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 75%, #fff 100%);
    animation-delay: 3s;
}
.flow_line::after{
    content: "";
    width: 10px;
    height: 10px;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    position: absolute;
    border-radius: 50%;
    animation-delay: 3s;
    
}

.line-2{
    animation: drop 15s  infinite;
    animation-delay: 3s;
}
.line-2{
    animation: drop 15s  infinite;
    animation-delay: 3s;

}
.line-4{
    animation: drop 25s  infinite;
    animation-delay: 3s;
}
.line-5{
  animation: drop 35s  infinite;
  animation-delay: 3s;
}


  @keyframes drop {
    0% {
      top: -10%;
    }
    100% {
      top: 98%;
    }
  }



  .slick-prev, .slick-next {
    width: 50px!important;
    height: 50px!important;
  }

  .slick-prev{
    left: -50px!important;
  }
  .slick-next{
    right: -50px!important;
  }


  /* Custom Animations  */


  .main__heading {
    font-size: 6rem;
    animation: main_anim 0.8s ease-in-out;
  }

  .fixed__button__wrapper{
    font-size: 2rem;
    padding: 16px;
  }


  .counter__line {
    height: 60px;
    animation: countLine 0.6s ease-in-out;
  }

  @keyframes countLine {
    0%{
        height: 0px;
    }
    100%{
        height: 60px;
    }
  }


  @keyframes main_anim {
    0%{
        font-size: 1.2rem;
    }
    100%{
        font-size: 6rem;
    }
  }

  




  /* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #651575 #B9B9B9;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #B9B9B9;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #BFBFC2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #5b21b6;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #5b21b6;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #5b21b6;
  }




  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px); /* Move up */
    }
    60% {
      transform: translateY(-10px); /* Move slightly up */
    }
  }


  .animate-bounce {
    display: inline-block;
    animation: bounce 2s ease infinite; /* Change duration as needed */ 
  }




  .overlap{
    z-index: 50;
  }

  .text-stroke-white{
    -webkit-text-stroke: 0.5px white;
  }


  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotating-element {
    animation: spin 8s linear infinite;
  }


  @keyframes spin {
    from {
      transform: rotate(0deg) translateY(0);
    }
    to {
      transform: rotate(360deg) translateY(0);
    }
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-40px);
    }
  }
  
  .rotating-bouncing-element {
    animation: spin 8s linear infinite, bounce 2s ease-in-out infinite;
  }
  

.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}

h1,h2,h3,h4,h5,h6,span,a,img,p{
  z-index: 10;
}




.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  overflow: hidden;
  height: 3.5rem;
  background-size: 300% 300%;
  cursor: pointer;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 3px transparent;
  background-image: linear-gradient(#470161, #c800ff),
    linear-gradient(
      137.48deg,
      #7803a2 10%,
      #73228c 55%,
      #c800ff 96%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  color: #ffffff;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 15rem;
}

.circle {
  width: 100%;
  height: 40px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: #fe53baa2;
}

.circle:nth-of-type(2) {
  background: #8e51eab4;
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  border: double 4px #fe53bb;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #fe53bb;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}


/* ON LOAD DOOR ANIMATION  */

.animate_left {
  animation: animateLeftOnLoad .5s ease-out forwards;
}

@keyframes animateLeftOnLoad {
  from {
    left: 0;
  }
  to {
    left: -50%;
  }
}

.animate_right {
  animation: animateRightOnLoad .8s ease-out forwards;
}

@keyframes animateRightOnLoad {
  from {
    right: 0;
  }
  to {
    right: -50%;
  }
}


.animated-gradient-text {
  position: relative;
  margin: 0 auto;
  display: flex;
  max-width: fit-content;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border-radius: 1.25rem; */
  font-weight: 500;
  backdrop-filter: blur(10px);
  transition: box-shadow 0.5s ease-out;
  overflow: hidden;
  cursor: pointer;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 300% 100%;
  animation: gradient linear infinite;
  border-radius: inherit;
  z-index: 0;
  pointer-events: none;
}

.gradient-overlay::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #060010;
  z-index: -1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.text-content {
  display: inline-block;
  position: relative;
  z-index: 2;
  background-size: 300% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient linear infinite;
}


.animate-nav {

  /* right: 00%; */
  top:-50%;
  animation: animateNavRight 1.3s ease-in-out 1s forwards;
}

@keyframes animateNavRight {
  from {
    top:-50%;
    right: -50%;
  }
  to{
    right: 0%;
      top:0%;
  }
}